/*Макет*/
/*******************************************************************************/

.top {
    position: relative;
    /*height: 9vh; */
    width: 100%;
    /*background-color:red;*/
}



.left {
    position: relative;
    float: left;
    width: 2%; /*10%;*/
    /*min-height: 34em;*/
    min-width: 1em;
    border-top: none;
    border-bottom: none;
    padding: 0.4em;
    /*background-color: yellow;*/
}

.center {
    position: relative;
    float: left;
    width: 97%;
    /*margin-top:1em;*/

    text-align: center;
    /*padding:2em;*/
    /*background-color: lawngreen;*/
}


/*.right {
    position: relative;
    float: left;
    min-width: 1em;
    border-top: none;
    border-right: none;
    border-bottom: none;*/
/*padding: 0.5em;*/
/*width: 7%; */ /*10%;*/
/*min-height: 34em;*/
/*background-color: sandybrown;*/
/*}*/

.bottom {
    position: relative;
    clear: both;
    padding: 0;
    margin: 0;
    /*    background-color: blue;*/
}
/*******************************************************************************/


/*----------------------------------------------------------------------------------------*/

.lil-gui {
    display: inline-block;
    --width: 17vw; /*200px;*/
    /*--name-width: 75%;*/
    --background-color: white; /*black; */ /*#0f0;*/ /* Фон названия параметра */

    --text-color: black; /* Текст названия параметра */


    --widget-color: #8080802b; /*gray; #0af; */ /*Фон параметра*/

    --hover-color: #8080802b; /*Цвет ползунка при наведении мыши*/


    --focus-color: #8080802b; /*фон цифрового ввода при клике на поле*/

    --title-background-color: gray; /* фон заголовка */

    padding-left: 1em;
}


    .lil-gui:hover {
        --widget-color: #8080802b; /*Фон ползунка*/
    }


    .lil-gui .controller.number input {
        color: black; /*Цвет цифрового значения*/
        font-weight: bold; /* текст цифрового значения*/
    }


    /*.lil-gui input {
        --background-color: #8080802b;
    }*/


    .lil-gui.root > .title { /* Заголовок */
        font-weight: bold;
        font-size: 1.2em;
        color: white;
    }

        .lil-gui.root > .title:hover { /* Заголовок при наведении */
            background-color: blueviolet;
            color: white; /*greenyellow;*/
        }


    .lil-gui .controller.number .fill {
        border-right: var(--slider-knob-width) solid black;
    }

    .lil-gui .controller > .name {
        font-weight: bold; /* текст названия параметра */
    }



.class_gui_button {
    height: 1em; /*3vh;*/
    /*padding-top: 15px;*/
    font-size: 0.8em;
}


/*******************************************************************************/


#id_div_model_name {
    padding-bottom: 1vw;
}

#up_id_shape_generator_container, #lateral_id_shape_generator_container, #end_id_shape_generator_container {
    width: 100%;
    /*height: 100%;*/
    /*background-color:orangered;*/
}


#up_id_shg_common, #lateral_id_shg_common, #end_id_shg_common {
    margin-left: auto;
    margin-right: auto;
    height: 60vh; /*25em;*/
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    /*background-color:gold;*/
}

#up_id_shg_left, #lateral_id_shg_left, #end_id_shg_left {
    position: relative;
    width: 75%; /*70%; */ /*72%;*/ /**/
    float: left;
    height: 100%; /* 85%;*/
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    /* z-index: 5;*/
}

#up_id_shg_right, #lateral_id_shg_right, #end_id_shg_right {
    position: relative;
    width: 25%; /*30%;*/
    float: left;
    /*background-color: greenyellow;*/
    /*text-align: center;*/
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    /*z-index: 5;*/
}


#up_id_shape, #lateral_id_shape, #end_id_shape {
    width: 100%;
    height: 100%;
}



#up_id_div_visual_model, #lateral_id_div_visual_model, #end_id_div_visual_model {
    height: 23vh; /*26.8vh;*/
    /*width:80%;*/
}


#up_id_dist_part_slider, #lateral_id_dist_part_slider, #end_id_dist_part_slider {
    position: absolute;
    top: 15%; /*20vh;*/
    right: 6%; /*10vw;*/

    width: 0.7vw; /*9px;*/
    font-size: 0.75em; /*10px;*/
}

#up_id_div_shape_dblclk, #lateral_id_div_shape_dblclk, #end_id_div_shape_dblclk {
    position: absolute;
    bottom: 5%;
    left: 5%;
    opacity: 0.5;
}

#up_id_div_img_jb, #lateral_id_div_img_jb, #end_id_div_img_jb {
    position: absolute;
    top: 5%;
    right: 25%;
    opacity: 0.5;
}





#up_id_div_dblclk, #lateral_id_div_dblclk, #end_id_div_dblclk {
    position: absolute;
    bottom: 5%;
    right: 20%; /*5%;*/
    opacity: 0.5;
}


#up_id_but_rotate_mode, #lateral_id_but_rotate_mode, #end_id_but_rotate_mode {
    position: absolute;
    bottom: -6vh;
    right: -0.8vw;
    font-size: 0.8em;
    /*//2 border-radius: 12px;*/
    /*width: 0.2em;*/
    /*//2em;*/
    /*height: 1em;*/
    /*//2em;*/
    /*background-image: url('/images/my/css_sprites.png');*/
    /*background-color: Transparent;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: initial;*/
}

/*.ui-slider {
    float: left;
    clear: both;
}
*/
/*
.ui-slider-vertical {
    top: -15vh;
    right: -100%;
    z-index: 5;
    display:inline;
}*/



#up_id_shg_bottom, #lateral_id_shg_bottom, #end_id_shg_bottom {
    width: 100%;
    height: 15%;
    display: flex;
    /*display: none; 08072024*/
    /*background-color:blue;*/
}


    #up_id_shg_bottom table, #lateral_id_shg_bottom table, #end_id_shg_bottom table {
        margin: auto;
        width: 50%;
    }

        #up_id_shg_bottom table tr td, #lateral_id_shg_bottom table tr td, #end_id_shg_bottom table tr td {
            text-align: center;
            /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
        }


#up_id_lb_sp_numcurves, #lateral_id_lb_sp_numcurves, #end_id_lb_sp_numcurves {
    width: 2em;
    font-size: 0.5em;
    margin-bottom: 3px;
}

#up_id_sp_numcurves, #lateral_id_sp_numcurves, #end_id_sp_numcurves {
    width: 2em;
    font-size: 0.7em;
    margin-bottom: 3px;
    text-align: center;
}



/************************** progress dialog *****************************************************/

/*#id_progressbar {
    margin-top: 20px;
}*/

.progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/*.ui-dialog-titlebar-close {
    display: none;
}*/

#up_id_div_progressbar, #lateral_id_div_progressbar, #end_id_div_progressbar {
    /*display: none;*/
    opacity: 1;
    position: absolute;
    /*top: 0;*/
    z-index: 100;
    width: 100%;
}

#up_id_progressbar, #lateral_id_progressbar, #end_id_progressbar {
    opacity: 1;
}



/*.ui-widget-content{

opacity: 1;

}*/


/************************** gui *****************************************************/


#up_id_shg_right_top, #lateral_id_shg_right_top, #end_id_shg_right_top {
    /* background-color: red;*/
    /*text-align: center;*/
}

#up_id_gui, #lateral_id_gui, #end_id_gui {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto;
}



#up_id_my_gui_1, #lateral_id_my_gui_1, #end_id_my_gui_1 {
    float: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1em;
    text-align: left;
    font-size: 0.7em
}



#up_id_my_gui_2, #lateral_id_my_gui_2, #end_id_my_gui_2 {
    /*padding-top: 1em;*/
}



#up_id_div_button_bar2, #lateral_id_div_button_bar2, #end_id_div_button_bar2,
#up_id_div_button_bar3, #lateral_id_div_button_bar3, #end_id_div_button_bar3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#up_id_tab_button_bar, #lateral_id_tab_button_bar, #end_id_tab_button_bar {
    /*border: 1px solid;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#up_id_for_colorpicker, #lateral_id_for_colorpicker, #end_id_for_colorpicker {
    height: 1vh;
}


#up_id_tab_button_bar td, #lateral_id_tab_button_bar td, #end_id_tab_button_bar td {
}


#up_id_div_3dmodel, #lateral_id_div_3dmodel, #end_id_div_3dmodel {
    /*position:initial;*/
    height: 70vh;
    /*background-color: aquamarine;*/
}


#up_id_loading_indicator, #lateral_id_loading_indicator, #end_id_loading_indicator
{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
    /*z-index:10;*/ /*15112024*/
}

#id_order_loading_indicator 
{
    width: 20px;
    height: 20px;
    /*position: absolute;
    bottom: 12vh;
    margin-left: auto;
    margin-right: auto;*/
}


/*******************************************************************************/

/*Заголовок окна диалога посередине*/
.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}

/*******************************************************************************/

/* Формат изображений в grid */
.wrapper_img {
    width: 150px;
    height: auto;
    /*border: 5px solid #515151;*/
    align-content: center;
}


.cell_img {
    /*
    text-align: left;
    margin-left: 5px;
    margin-right: 50px;

    */
    /*height: auto;*/ /*100px;*/
    /*width: 100%;*/ /*200px;*/
    /* margin-right:50px;*/
    /*min-width: 100%;
    min-height: 100%;*/
    /* 
    opacity: 0.5;
       margin-left: auto;
    margin-right: auto;
*/
    /*position: absolute;
    right: 300px;*/
    /*background-image: "datafiles/9NN3WWEIPVMS2VN2BHGGG_usr/models/AWL22IQHSWFK9OFB78QTEQ.png";*/
    /*background-position: 20px 20px;*/ /* Смещение изображения на 50px вправо и 20px вниз относительно верхнего левого угла элемента */
    /*background-repeat: no-repeat;*/ /* Запрет на повторение изображения */


    object-fit: cover;
    width: 100%;
    height: 100%;
}



.wrapper_img {
    width: 200px;
    height: auto; /*300px;*/
    /*border: 5px solid #515151;*/
}

.for_cell {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .for_cell img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
    }
/*******************************************************************************/
/*******************************************************************************/

/**********************  jqgrid **********************************************************/
/*
.ui-jqgrid {
    border-right-width: 0px !important; 
    border-left-width: 0px !important; 
}*/

.ui-jqgrid {
    border-width: 0px !important
}

    .ui-jqgrid tr.ui-row-ltr td {
        border-right-color: transparent !important;
    }

    .ui-jqgrid tr.ui-row-ltr td {
        border-bottom-color: transparent !important;
    }

th.ui-th-column {
    border-right-color: transparent !important /**/
}

/*
.ui-jqgrid-labels .ui-th-column {
    border-right-color: transparent 
}
*/

/* Размер шрифта */
.ui-jqgrid .ui-jqgrid-view {
    font-size: 0.9em !important; /*0.84em*/
}

/*******************************************************************************/
/*body {
    background-color:deeppink;
}
*/
/********************** tab orders ***************************************************/

#id_div_orders table {
   /* margin-left: auto;
    margin-right: auto;*/
}

#id_but_model_download,
#id_but_go_to_amazon 
{
    font-size: 1em;
    border-radius: 12px;
    height: 2em;
}

#id_but_model_download {
    width: 15vw; 
}

#id_but_go_to_amazon {
    width: 22vw; 
}

/* ---- динамический индикатор ожидания ----- */

#id_loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /*rgba(0, 0, 0, 0.7);*/
    color: blue; /*white;*/

    font-weight: 600;  /*bolder;*/


    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: 18px;
}

.spinner {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 3px solid transparent;
    border-top: 3px solid black; /*white;*/
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*================================ отладка ===============================*/
/*  * {   border: 1px solid red; } */
/*================================ отладка ===============================*/
