@page
@model IndexModel
@{

    <div id="id_div_orders" style="padding-top:7vh">
    @* Orders *@


        <table style="width: 100%;">   @*padding-top:5vw; padding-left:0.3vw; margin-left:auto; margin-right:auto; *@
            <tr>
                <td style="text-align:left; padding-left:2vw">
                    <button id="id_but_model_download" type="button" title="Download model file" class="ui-button ui-corner-all bi-cloud-arrow-down">&nbsp;&nbsp;Download model</button>
                </td>

                <td style="text-align:left; padding-left:2vw">
                    @* <a href="https://www.amazon.com"  target="_blank" >JB models on Amazon.com</a> *@
                    <button id="id_but_go_to_amazon" type="button" title="JB models on Amazon.com" class="ui-button ui-corner-all bi-cloud-arrow-down">
                        <a href="https://www.amazon.com/s?k=ahmad&i=grocery&crid=31MVQFKGV53AO&sprefix=ahm%2Cgrocery%2C1551&ref=nb_sb_noss_2"
                           target="_blank" > JB models on Amazon.com </a>
                    </button>
                </td>

            </tr>

        </table>



    </div>

}
