@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="top"> *@


@* <div class="text-center"> *@
@* <h1 class="display-4">Welcome</h1> *@
@* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

@* <div id="info">
    <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - geometry - catmull spline editor
</div> *@

@* </div> *@ @* top *@


<div class="left">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div id="id_center" class="center">


    @* <form id="id_mainForm"> *@

        <div id="id_div_model_name">

            @* 
        <label for="id_model_name">Model name:</label>
        <input type="text" id="id_model_name" value="New model" style="text-align:center"
               required pattern="[A-Za-z0-9_ ]{3,80}" >
 *@

            <label for="id_model_name">Model name:</label>
            <input type="text" id="id_model_name" name="modelname" value="New model" style="width: 20vw;"
               placeholder="Only letters, numbers, spaces, and underscores allowed"
               title="Only letters, numbers, spaces, and underscores allowed, length from 3 to 80 characters">
            <label id="id_lb_model_name_error_message" class="my_error_message"></label>
            @* <button id="id_submit" type="submit">Отправить</button> *@
        </div>

   @*  </form> *@

    <div id="id_tab_sides">

        <ul>
            <li><a href="#tab-1">Upper side of the model</a></li>
            <li><a href="#tab-2">Lateral side of the model</a></li>
            <li><a href="#tab-3">End face of the model</a></li>
            <li><a href="#tab-4">Orders</a></li>
        </ul>



        <div id="tab-1">
            <vc:side-shape-generator id_prefix="up" />
        </div> @* tabs-1 *@

        <div id="tab-2">
            <vc:side-shape-generator id_prefix="lateral" />
        </div> @* tabs-2 *@

        <div id="tab-3">
            <vc:side-shape-generator id_prefix="end" />
        </div> @* tabs-3 *@

        <div id="tab-4">
            @await Html.PartialAsync("Partials/_Orders")
        </div> @* tabs-3 *@

    </div>


</div>@* center *@


<div class="bottom">

    <div id="id_div_footer" style="text-align:center;padding-top:0.5vw; ">
        &copy; 2023 - JbShapeGenerator
    </div>

</div>


<div id="id_empty_div_for_colorpick" "></div>
<div id="id_div_dialog_message"></div>
<div id="id_div_dialog_question"></div>

@*============================ grid select model files ===============================*@
<div id="id_div_GridSelectModels">
    <table id="id_GridSelectModels"></table>
    <div id="id_div_GridSelectModelsPager"></div>

    <br />
</div>
@*============================ grid select model files ===============================*@






